.container{
	margin-left: 160px;
	margin-right: 100px;
}

.imglink{
	float: left;
	margin: 10px 20px;

}

img{
	border: solid black 2px;
	border-radius: 15px;
}
body{
	background-image: url(../images/cast.png);
	background-repeat: no-repeat;
	background-color: grey;
	

}
.blank{
	margin: 500px;
}

.navbar{
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 40px;

	
}
.navbar a:hover{
	color: grey;
}

.navbar a{
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	text-align:center ;
	border-bottom: 1px white solid;
	margin-left: 20px;	
	margin-right: 20px;
}

.icon{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	margin-bottom: 20px;
}

}


  
  }

  #main{
  	padding: 20px;
  }